#chatWhatsApp{
    width: 64px;
    position: fixed;
    bottom: 15px;
    right: 15px;
}
/*Emcabezado*/
header{
    background-image: url(../image/recursos/header_2.jpg);
    background-position: center;
    background-size: cover;
}
/*carrito*/
#imageCarritoVacio{
    width: 60%;
}

#ventanaCarrito span{
    font-size: 1em;

}
#ventanaCarrito .precioDescuento , #ventanaCarrito .precioFinal{
    font-size: 1.5em;
    text-align: right;
    min-width: 100px;
}
/*Artículos*/
article{
    margin-bottom: 2em;

}

article> picture > img{
    max-width: 80% !important;
    margin-bottom: 1em;
 
}
/*precios*/
.precioOriginal {
    font-size: 1em;
    color: #4d4d4d;
    text-decoration: line-through;
}

.precioDescuento {
    font-size: 1em;
    color: black;
    font-weight: bold;
}

.precioFinal {
    font-size: 1.5em;
    color: #e91e1e;

}
